html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  background: #2f5e60;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
  color: #d2dae5;
}

.text-center {
  text-align: center;
}

* {
  box-sizing: border-box;
}

a {
  color: white;
}

h1 {
  font-size: 60px;
}
